:root {
    --second-color: #878787;
    --bold-color: #555555;
    --text-color: white;
    --color-text-light: #a3a3a3;
    --color-text-menu: #9a9a9a;
    --color-label-new: #1bbc9b;
    --color-label-best: #14b9d5;
    --color-border: rgb(240, 239, 239);
    --color-green: #1bbc9b;
    --color-purple: #ba71da;
    --color-sky: #14b9d5;
    --color-red: #f76570;
    --color-yellow: #ffd205;
    --color-yellow-radiant: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
    --color-red-radiant: linear-gradient(to right, #f76570 0%, #f78d65 100%);
    --color-purple-radiant:linear-gradient(to right, #ba71da 0%, #da717b 100%); 
}

html, body {
    font-size: 14px;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    /* scroll-behavior: smooth;
    overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: var(--text-color);
    color: inherit;
}

p {
    color: var(--color-text-light);
    font-size: 15px;
    line-height: 30px;
}

section {
    padding: 80px 0;
}

.d-flex {
    display: flex;
}

textarea, input[type=text] {
    font-family: 'Poppins', sans-serif;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.full-height {
    height: 100vh;
}

.align-item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.justify-content-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.justify-content-around {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed {
    background-attachment: fixed;
}

.btn {
    padding: 8px 25px 8px 25px!important;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

.btn--purple {
    background: var(--color-purple);
}

.btn--sky {
    background: var(--color-green);
}

.heading-title {
    font-size: 50px;
    margin-bottom: 30px;
}

.heading-label {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
}

.heading-title--purple {
    text-decoration: underline;
    text-decoration-color: var(--color-purple);
}

.heading-title--sky {
    text-decoration: underline;
    text-decoration-color: var(--color-green);
}

.heading-title--red {
    text-decoration: underline;
    text-decoration-color: var(--color-red);
}

.btn--yellow-gradient {
    background: var(--color-yellow-radiant);
}

.btn--red-gradient {
    background: var(--color-red-radiant);
}

.btn--purple-gradient {
    background: var(--color-purple-radiant);
}

.color-green{
    color: var(--color-green);
}

.color-red{
    color: var(--color-red);
}

.destination-front {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    flex: 1;
}

.destination-title {
    font-size: 20px;
}

.destination-heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(255, 255, 255);
    opacity: 1;
    z-index: 1000;
}

.destination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.destination-link {
    padding: 15px;
}

.destination-info {
    font-size: 20px;
    margin-bottom: 10px;
}

.destination-number {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
}

.destination-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #50ADDA;
    color: white;
    display: flex;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.destination-background-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(top, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.65) 100%);
}

.destination-btn {
    padding: 8px 25px 8px 25px!important;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    color: #50ADDA;
    background-color: white;
}

.content__heading {
    text-align: center;
    margin-bottom: 40px;
}

.content__heading-first {
    color: var(--second-color);
    font-size: 16px;
    margin-bottom: 20px;
}

.content__heading-second {
    color: var(--bold-color);
    font-size: 40px;
}