#wrapper {
    overflow: hidden;
}

#header {
    opacity: 0.9;
    position: relative;
    overflow: hidden;
    z-index: 1100;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.header__logo {
    flex: 2;
}

.header__logo-link {
    max-width: 160px;
    display: block;
}

.header__menu {
    flex: 7;
}

.header__option {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}

.header__option-menu {
    background-color: #fff;
    min-width: 315px;
    right: 0%;
    bottom: 0;
    position: absolute;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    transform: translateX(500px);
}

label.header__option-toggle {
    text-align: right;
}

.header__option-menu-icon {
    font-size: 32px;
    color: var(--second-color);
    margin-right: 12px;
    margin-top: 17px;
    cursor: pointer;
    text-align: left;
}

[type=checkbox]:checked~.header__menu-list-wp {
    transition: all 1s ease;
    right: 0%;
    bottom: 0%;
}

[type=checkbox]:checked~.header__menu-list-icon {
    display: block;
}

[type=checkbox]:checked~.header__option-menu {
    transition: all 1s ease;
    transform: translateX(0px);
}

[type=checkbox]:not(:checked), [type=checkbox]:checked {
    transition: all 1s ease;
    position: absolute;
    left: -1000px;
}

[type=checkbox]:not(:checked)+label, [type=checkbox]:checked+label {
    position: relative;
    cursor: pointer;
}

/* ======== style menu responsive ========= */

.header__menu-icon {
    display: block;
    text-align: right;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.header__menu-list-icon {
    position: absolute;
    right: 50px;
    top: 25px;
    color: white;
}

.header__menu-icon {
    font-size: 32px;
    color: var(--text-color);
    margin-right: 12px;
    margin-top: 17px;
    cursor: pointer;
    text-align: right;
}

.header__menu-img {
    width: 25px;
    height: 25px;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    padding: 10px;
    position: relative;
}

.header__menu-item:hover>.header__menu-sub {
    display: block;
    transition: all 0.25s linear;
}

.header__menu-link {
    line-height: 30px;
    letter-spacing: 3px;
}

.header__menu-sub {
    position: absolute;
    display: none;
    background: #fff;
    color: var(--color-text-menu);
    width: 180px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    top: 100%;
    left: 0%;
    transition: all 0.25s linear;
}

.header__menu-sub-item:hover>.header__menu-sub {
    left: 110%;
    top: 0;
}

.header__menu-sub-item {
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}

.header__menu-sub-item::after {
    content: '';
    position: absolute;
    padding: 20px 25px;
    right: -25px;
    top: 0;
}

.header__menu-sub-link--hot::after {
    content: "HOT";
    position: absolute;
    right: 15px;
    background-color: var( --color-red);
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}

.header__menu-sub-link--new::after {
    content: "NEW";
    position: absolute;
    right: 15px;
    background-color: var( --color-label-new);
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}

.header__menu-sub-link--best::after {
    content: "BEST";
    position: absolute;
    right: 15px;
    background-color: var( --color-label-best);
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 5px;
}

.header__menu-sub-item:hover {
    background-color: #f9f9f9;
}

.header__menu-sub-item:hover>.header__menu-sub {
    display: block;
}

.header__menu-sub-link {
    text-transform: capitalize;
}

.header__menu-sub-icon {
    position: absolute;
    left: 80%;
}

.header__option-icon {
    display: block;
    text-align: right;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
}

/* ====== style header__content ======= */

.header__content {
    width: 100%;
    padding: 180px 0;
    text-align: center;
}

/* .header__heading {
   
} */

.header__search {
    margin-top: 50px;
    margin-bottom: 80px;
}

.header__search-form {
    position: relative;
    max-width: 430px;
    display: block;
    margin: 0 auto;
}

.header__search-select {
    padding: 10px 25px;
    width: 380px;
    border-radius: 30px;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color-text-light);
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.header__search-submit {
    position: absolute;
    outline: none;
    background: none;
    cursor: pointer;
    border: none;
    right: 35px;
    top: 9px;
}

.header__search-icon {
    font-size: 18px;
    color: rgb(194, 188, 188);
}

.header__typology-item {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.header__typology-link {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

/* ======== style  header__option-menu======== */

.header__option-title {
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
}

.header__option-title-first {
    color: var(--second-color);
    margin-bottom: 10px;
    display: block;
}

.header__option-title-second {
    font-size: 26px;
    color: #353b3d;
    position: relative;
    z-index: 100;
    opacity: 1;
    text-decoration: none;
    font-weight: 800;
}

.header__option-title-second::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0%;
    top: 60%;
    background-color: #ffd105;
    z-index: -9;
    opacity: 0.9;
}

.header__option-package-item {
    margin-bottom: 30px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.header__option-package-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.header__option-package-img {
    max-width: 150px;
    width: 100px;
    height: 100px;
    display: block;
    margin-right: 20px;
}

.header__option-package-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.header__option-package-location {
    display: block;
    font-size: 16px;
    color: var(--second-color);
    margin-bottom: 10px;
}

.header__view-destination {
    width: 100%;
    height: 250px;
    position: relative;
    margin: 40px 0;
}

.header__view-destination-front {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    flex: 1;
}

.header__view-destination:hover .header__view-destination-back {
    opacity: 1;
    cursor: pointer;
}

.header__view-destination-heading {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(255, 255, 255);
    opacity: 1;
}

.header__view-destination-info {
    font-size: 20px;
}

.header__view-destination-number {
    font-size: 18px;
    font-weight: 400;
}

.header__view-destination-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #50ADDA;
    color: white;
    display: flex;
    transition: opacity 0.75s linear;
    opacity: 0;
}

.header__view-destination-title {
    font-size: 20px;
    line-height: 20px;
}

.header__view-destination-item {
    text-align: center;
}

.header__view-destination-link {
    font-size: 16px;
    padding: 10px 0;
    display: block;
}

.header__view-destination-btn {
    padding: 8px 25px 8px 25px!important;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    color: #50ADDA;
    background-color: white;
}

/*  */

.wp-content {
    padding: 100px 0;
}

.content__destination {
    padding-bottom: 50px;
}

.content__destination-item {
    position: relative;
    height: 400px;
    cursor: pointer;
    margin-bottom: 25px;
}

.content__destination-item:hover .destination-back {
    opacity: 1;
    cursor: pointer;
}

.content__destination-item:hover .destination-heading {
    opacity: 0;
}

/* ====== style banner ======*/

.content__banner {
    height: 30vh;
}

.content__banner-wp {
    height: 100%;
}

.row.content__banner-item {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content__banner-btn {
    padding: 15px 25px!important;
    border-radius: 30px;
    display: block;
    color: #f76570;
    background-color: white;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

/* ===== style content__about ====== */

.content__about {
    padding: 100px 0;
}

.content__about-info {
    margin-bottom: 100px;
}

.content__about-info .content__heading {
    text-align: left;
}

.content__about-price {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.content__about-price span:first-child {
    color: #dadada;
    text-decoration: line-through;
    font-size: 26px;
}

.content__about-price span:nth-child(2) {
    margin: 0 15px;
    color: var(--bold-color);
    font-size: 26px;
}

.content__about-price span:last-child {
    color: var(--color-text-light);
    font-size: 16px;
}

.content__about-btn {
    padding: 10px 35px;
    border-radius: 30px;
}

.content__about-slider {
    position: relative;
}

.content__about-box-item {
    display: flex;
    margin-bottom: 30px;
}

.content__about-box-icon {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.content__about-box-title {
    font-size: 25px;
    color: var(--bold-color);
    font-weight: 600;
    margin-bottom: 10px;
}

.content__about-box-link {
    display: block;
    margin-top: 20px;
    color: var(--color-sky);
    letter-spacing: 2px;
}

.content__about-slider-item {
    height: 400px;
    width: 100%;
}

.owl-dots {
    position: absolute;
    top: 10px;
    right: 35%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 60px!important;
    height: 3px!important;
    /* background: rgba(255, 255, 255, 0.5)!important; */
}

.owl-theme .owl-dots .owl-dot.active span {
    background: white;
}

.content__about-time-book {
    /* position: absolute; */
    z-index: 100;
    top: 70%;
}

.content__about-time-list {
    background-color: var(--color-sky);
    position: absolute;
    z-index: 100;
    top: 80%;
    right: 15%;
}

.content__about-time-item {
    padding: 30px;
    text-align: center;
    position: relative;
}

.content__about-time-item::after {
    position: absolute;
    content: '/';
    font-size: 45px;
    font-weight: 100;
    z-index: 9;
    opacity: 0.3;
    top: 30px;
    right: -12px;
    line-height: 60px;
}

.content__about-time-list .col:last-child .content__about-time-item::after {
    content: '';
}

.content__about-time-item span:first-child {
    font-size: 30px;
    margin-bottom: 5px;
}

.content__about-time-item span:last-child {
    font-size: 13px;
}

/* ====== style discovery ======== */

.content__discovery-item {
    height: 30vh;
    text-align: center;
    padding: 40px 0;
}

.content__discovery-heading {
    font-size: 20px;
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 300;
}

.content__discovery-title {
    margin: 20px 0 40px 0;
    font-size: 35px;
}

.content__discovery-btn {
    background-color: white;
    /* color: var(--color-red); */
    padding: 10px 30px!important;
    letter-spacing: 2px;
    font-size: 16px;
}

/* ====== style content__package ======== */

.content__package {
    padding: 50px 0;
}

.content__package-item {
    border: 1px solid var(--color-border);
    margin-bottom: 30px;
}

.content__package-thumb {
    position: relative;
}

.content__package-img-icon-wp {
    position: absolute;
    padding: 10px;
    border-radius: 100%;
    right: 20px;
    bottom: -20px;
}

.content__package-img-icon {
    width: 30px;
}

.content__package-info {
    padding: 20px 20px 40px 20px;
}

.content__package-info-price, .content__package-info-title {
    border-bottom: 1px solid var(--color-border);
    padding: 20px 0;
}

.content__package-info-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--bold-color);
    display: block;
    margin-bottom: 10px;
}

.content__package-info-location {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-light);
    letter-spacing: 2px;
}

.content__package-info-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__package-info-label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--bold-color);
}

.content__package-info-cost {
    font-size: 23px;
    color: var(--bold-color);
    font-weight: 500;
}

.content__package-info-text {
    letter-spacing: 1px;
    font-size: 14px;
    margin: 20px 0;
}

.content__package-info-btn {
    font-size: 16px;
}

.footer {
    height: 100%;
    padding: 50px 0;
}

.footer__head {
    display: flex;
    padding: 0px 0 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__head-wp {
    align-items: center;
    justify-content: center;
}

.footer__head-form {
    display: flex;
    justify-content: center;
}

.footer__head-search-input {
    color: var(--color-text-light);
    font-size: 16px;
    margin-right: 20px;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.footer__head-search-btn {
    font-size: 16px;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.footer__info-wp {
    background-color: #fff;
    padding: 40px;
}

.footer__info-left-thumb {
    width: 150px;
    margin-bottom: 30px;
}

.footer__info-left-social {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer__info-left-social-item {
    color: var(--bold-color);
    margin-right: 20px;
}

.footer__info-left-social-link {
    font-size: 23px;
}

.footer__info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__info-right-title {
    font-size: 15px;
    color: var(--bold-color);
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.footer__info-right-item {
    padding: 5px 0;
}

.footer__info-right-link {
    color: var(--color-text-light);
    font-size: 15px;
}

.footer__info-right-link i {
    font-size: 12px;
    margin-right: 10px;
    color: rgb(226, 223, 223);
}

.footer__copyright-wp {
    background: VAR(--color-sky);
    padding: 15px;
}

@media only screen and (max-width: 1239px) {
    .header__menu {
        flex: 1;
    }
    .header__menu-icon {
        display: block;
    }
    .header__menu-list-wp {
        display: block;
        position: fixed;
        background: #555555;
        width: 250px;
        height: 100%;
        padding: 40px 20px;
        right: -300px;
        bottom: 0;
        z-index: 1000;
        transition: all 1s ease;
    }
    .header__menu-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
    }
    .header__menu-sub {
        position: relative;
        background: #555555;
        color: var(--text-color);
        width: 180px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        top: 100%;
        /* left: 5%; */
        transition: all 0.25s linear;
        transition: all 05s ease-in-out;
        z-index: 1000;
        display: none;
    }
    .header__menu-sub-item:hover {
        background: #6b6b6b;
        color: var(--text-color);
    }
    .header__menu-sub-item:hover>.header__menu-sub {
        left: 100%;
        top: 0;
        transition: all 05s ease-in-out;
        display: none;
    }
    .header__menu-sub-link {
        font-size: 14px;
    }
    .header__menu-sub-item:hover>.header__menu-sub {
        left: 0%;
        margin-top: 15px;
    }
    .header__option {
        display: none!important;
    }
    .header__typology-item {
        margin-bottom: 20px;
    }
    .content__about-time-item {
        /* right: 20%; */
        padding: 20px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header__logo {
        flex: 1;
    }
    .content__about-slider {
        margin-top: 50px;
    }
    .content__about-time-list {
        right: 0%;
        left: 0%;
    }
    .content__about-time-item::after {
        font-size: 45px;
        top: 10px;
        right: -12px;
        line-height: 60px;
    }
    .footer__info-right {
        margin: 30px 0;
    }
}

@media (max-width: 740px) {
    .content__about-slider {
        margin-top: 50px;
    }
    .content__about-price span:first-child {
        font-size: 20px;
    }
    .content__about-price span:nth-child(2) {
        font-size: 18px;
        margin: 0 8px;
    }
    .content__about-price span:last-child {
        font-size: 16px;
    }
    .content__about-time-list {
        right: 0%;
        left: 0%;
    }
    .content__about-time-item::after {
        font-size: 45px;
        top: 10px;
        right: -12px;
        line-height: 60px;
    }
    .footer__info-right {
        margin: 30px 0;
    }
}

@media (max-width: 560px) {
    .footer__copyright-wp {
        justify-content: center;
    }
    .footer__copyright-wp .col:first-child .footer__copyright-title {
        margin-bottom: 30px;
    }
    .content__banner {
        height: 50vh;
    }
}